* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Inter, sans-serif;
}

.header {
  padding: 24px 16px;
  height: 111px;
  display: flex;
  justify-content: center;
  box-shadow:
    0px 1px 3px 0px rgba(0, 0, 0, 0.1),
    0px 1px 2px 0px rgba(0, 0, 0, 0.06);
}

.header-container {
  display: flex;
  align-items: center;
  width: 226px;
  height: 60;
  justify-content: space-between;
  opacity: 1;
}

.header-container > img {
  width: 56px;
  height: 52px;
  opacity: 1;
}

.header-container > p {
  font-family: Inter;
  font-weight: 400;
  font-style: Regular;
  font-size: 32px;
  line-height: 60px;
  letter-spacing: -5%;
}

/**
header box shadow code:
box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.10), 0px 1px 2px 0px rgba(0, 0, 0, 0.06);
*/
